@import 'src/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  gap: 40px;
  @include breakpoint(sm, md) {
    height: auto;
  }
}

.title {
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
  margin: 0;

  @include breakpoint(md) {
    margin-top: 40px;
    font-size: 50px;
  }
  @include breakpoint(sm) {
    margin-top: 30px;
    font-size: 40px;
  }
}

.subtitle {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
  margin: 0;
  max-width: 60%;
  font-weight: 600;
}

.separator {
  width: 50%;
}

.content {
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  @include breakpoint(sm, md) {
    flex-direction: column;
  }
}

.section {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  height: 100%;
  width: 100%;

  .title {
    font-size: 20px;
    font-weight: 600px;
    color: white;
    text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
    margin-bottom: 20px;
  }
}

.vs {
  width: 1px;
  height: 50%;
  background-color: white;
  opacity: 0.5;
  @include breakpoint(sm, md) {
    display: none;
  }
}

.currencyFieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  label {
    color: white;
    text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
    font-size: 16px;
    font-weight: 600;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  h4 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
    font-size: 16px;
    font-weight: 600;
  }

  .axis {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      color: white;
      text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
      font-size: 12px;
      font-weight: 600;
      margin: 0;
    }
  }
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title {
    color: white;
    text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
  }
  .value {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 10px rgba(69, 68, 68, 0.5);
    font-size: 14px;
    font-weight: 600;
  }
}
