@import 'src/variables.scss';

.section {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
  width: 100%;

  background: url('../../assets/images/background.png') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 83px;
    padding-bottom: 69px;
    gap: 47px;

    .block {
      margin-top: 63px;
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: left;
      .title {
        margin: 0;
        color: $xlineWhite;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
      }
      .blue {
        color: $xlineBlue;
      }
      .subtitle {
        padding-top: 29px;
        padding-bottom: 64px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        opacity: 0.8;
        margin: 0;
        color: $xlineWhite;
      }
    }
  }
}
